﻿@model LibraryMgtSystemDB.BookTable

@{
    ViewBag.Title = "Details";
    ViewBag.heading = "All Book >";
}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Book Details</h6>
        </div>
        <div class="card-body">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.BookTypeTable.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BookTypeTable.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DepartmentTable.DepartmentName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepartmentTable.DepartmentName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserTable.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserTable.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BookTitle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BookTitle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BookName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BookName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Author)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Author)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Edition)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Edition)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TotalCopies)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TotalCopies)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RegDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RegDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>
            @Html.ActionLink("Edit", "Edit", new { id = Model.BookID }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>

