﻿@model LibraryMgtSystemDB.DepartmentTable

@{
    ViewBag.Title = "Details";
    ViewBag.heading = "All Department >";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Details Department</h6>
    </div>
    <div class="card-body">

        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserTable.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserTable.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DepartmentName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepartmentName)
                </dd>

            </dl>
        </div>
    </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.DepartmentID }, new {@class="btn btn-default" }) 
            @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-default" })
        </p>
        </div>
