﻿@model IEnumerable<LibraryMgtSystemDB.DepartmentTable>

@{
    ViewBag.Title = "Index";
    ViewBag.heading = "All Department >";
}


@Html.ActionLink("New Department", "Create", null , new {@class ="btn btn-primary" })

<hr />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Department</h6>
    </div>
    <div class="card-body">
        <div class="table-hover">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                           Department Name
                        </th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td>
                                    @Html.HiddenFor(modelItem => item.UserTable.UserName)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepartmentName, "Department Name")
                                </td>
                                <td class="btn-group">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentID }, new {@class = "btn btn-primary" }) 
                                    @Html.ActionLink("Details", "Details", new { id = item.DepartmentID }, new { @class = "btn btn-info" }) 
                                    @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentID }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
            </table>
        </div>
    </div>
</div>
