﻿@model IEnumerable<LibraryMgtSystemDB.IssueBookTable>

@{
    ViewBag.Title = "Issuebooks";
    ViewBag.heading = "All Issue Book >";

}

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Issue Books</h6>
    </div>
    <div class="card-body">
        <div class="table-hover">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Book Title
                        </th>
                        <th>
                            Employee Name
                        </th>
                        <th>
                            User Name
                        </th>
                        <th>
                            No of Copiew
                        </th>
                        <th>
                            Issue Date
                        </th>
                        <th>
                            Return Date
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>Action</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookTable.BookTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeTable.EmployeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NoOfCopies)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IssueDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReturnDate)
                            </td>
                            <td>
                                <p class="btn btn-outline-success" style="font:bold">Issue</p>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="btn-group">
                                @Html.ActionLink("Return Book", "returnbook", new { id = item.IssueBookID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.IssueBookID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

            </table>
        </div>
    </div>
</div>
