﻿@model LibraryMgtSystemDB.EmployeeTable

@{
    ViewBag.Title = "Details";
    ViewBag.heading = "All Employee >";

}


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Employee</h6>
        </div>
        <div class="card-body">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DepartmentTable.DepartmentName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepartmentTable.DepartmentName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DesignationTable.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DesignationTable.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmployeeName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FatherName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FatherName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ContactNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ContactNo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

            </dl>
            @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
        </div>
     
