﻿@model IEnumerable<LibraryMgtSystemDB.EmployeeTable>

@{
    ViewBag.Title = "Index";
    ViewBag.heading = "All Employee >";

}

<p>
    @Html.ActionLink("Create New", "Create",null,new { @class="btn btn-primary"})
</p>
<hr />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Employee</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                           Department Name
                        </th>
                        <th>
                            Designation Name
                        </th>
                        <th>
                            Employee Name
                        </th>
                        <th>
                            Father Name
                        </th>
                        <th>
                           Contact No
                        </th>
                        <th>
                           Email
                        </th>
                        <th>
                           Address
                        </th>
                        <th>
                           Description
                        </th>
                        <th>
                           IsActive
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartmentTable.DepartmentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DesignationTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FatherName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td class="btn-group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }, new {@class="btn btn-primary" }) 
                                @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }, new { @class = "btn btn-info" }) 
                                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

