﻿@model LibraryMgtSystemDB.DesignationTable

@{
    ViewBag.Title = "Details";
    ViewBag.Title = "All Designation >";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Detail Designation</h6>
    </div>
    <div class="card-body">
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserTable.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserTable.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Scale)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Scale)
                </dd>

            </dl>
        </div>
    </div>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.DesignationID }, new {@class ="btn btn-default" }) 
            @Html.ActionLink("Back to List", "Index")
        </p>
