﻿@model IEnumerable<LibraryMgtSystemDB.DesignationTable>

@{
    ViewBag.Title = "Index Designation";
    ViewBag.Heading = "All Designation >";
}


@Html.ActionLink("New Designation", "Create", null, new { @class = "btn btn-primary" })

<hr />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Designation</h6>
    </div>
    <div class="card-body">
        <div >
            <table class="table table-bordered" id="dataTable" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            User Name
                        </th>
                        <th>
                            Designation Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Scale)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Scale)
                            </td>
                            <td class="btn-group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.DesignationID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.DesignationID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.DesignationID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
