﻿@model LibraryMgtSystemDB.UserTypeTable

@{
    ViewBag.Title = "Details";
    ViewBag.heading = "All User Type >";
}


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Details User Type</h6>
        </div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Usertype)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usertype)
                </dd>

            </dl>
            @Html.ActionLink("Edit", "Edit", new { id = Model.UsertypeID }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>


