﻿@model IEnumerable<LibraryMgtSystemDB.UserTypeTable>

@{
    ViewBag.Title = "All User Type";
    ViewBag.heading = "ALL User Type >";
}

@Html.ActionLink("New User Type", "Create", null, new { @class = "btn btn-primary" })
<hr />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All User Type</h6>
    </div>
    <div class="card-body">
        <div class="table-hover">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Usertype)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Usertype)
                            </td>
                            <td class="btn-group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.UsertypeID }, new {@class="btn btn-primary" }) 
                                @Html.ActionLink("Details", "Details", new { id = item.UsertypeID }, new { @class = "btn btn-info" }) 
                                @Html.ActionLink("Delete", "Delete", new { id = item.UsertypeID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>