﻿@model IEnumerable<LibraryMgtSystemDB.BookFineTable>

@{
    ViewBag.Title = "Bookfinehistory";
    ViewBag.heading = "All Fine >";

}

<hr />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Book Return Fine</h6>
    </div>
    <div class="card-body">
        <div class="table-hover">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Book Title
                        </th>
                        <th>
                            Employee Name
                        </th>
                        <th>
                            User Name
                        </th>
                        <th>
                            Fine Date
                        </th>
                        <th>
                            Fine Amount
                        </th>
                        <th>
                            Receive Amount
                        </th>
                        <th>
                            Total Days
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookTable.BookTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeTable.EmployeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FineDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FineAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReceiveAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NoOfDays)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.BookFineID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.BookFineID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.BookFineID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
