﻿@model IEnumerable<LibraryMgtSystemDB.PurchaseTable>

@{
    ViewBag.Title = "AllPurchase";
    ViewBag.heading = "All Purchase >";

}
@Html.ActionLink("New Purchase", "NewPurchase", null, new { @class = "btn btn-primary" })
<hr />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Purchase</h6>
        <h6>@ViewBag.delete</h6>

    </div>
    <div class="card-body">
        <div class="table-hover">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Supplier Name
                        </th>
                        <th>
                            User Name
                        </th>
                        <th>
                            Purchase Date
                        </th>
                        <th>
                            Purchase Amount
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplierTable.SupplierName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PurchaseDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PurchaseAmount)
                            </td>
                            <td >
                                @Html.ActionLink("Edit", "Edit", new { id = item.PurchaseID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "PurchaseDetail", new { id = item.PurchaseID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.PurchaseID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>