﻿@model LibraryMgtSystemDB.PurchaseTable

@{
    ViewBag.Title = "Details";
    ViewBag.heading = "All Purchase";
}

<div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Details Purchase</h6>
        </div>
        <div class="card-body">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SupplierTable.SupplierName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SupplierTable.SupplierName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserTable.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserTable.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PurchaseDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PurchaseDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PurchaseAmount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PurchaseAmount)
                </dd>

            </dl>
        </div>
    </div>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.PurchaseID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
