﻿@model IEnumerable<LibraryMgtSystemDB.PurchaseTable>

@{
    ViewBag.Title = "Index";
    ViewBag.heading = "All Purchase >";
}


@Html.ActionLink("New Purchase", "Create", null, new { @class = "btn btn-primary" })

<hr />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Purchase</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SupplierTable.SupplierName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserTable.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PurchaseDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PurchaseAmount)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplierTable.SupplierName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PurchaseDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PurchaseAmount)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.PurchaseID }, new { @class = "btn btn-primary" }) 
                                @Html.ActionLink("Details", "Details", new { id = item.PurchaseID }, new { @class = "btn btn-info" }) 
                                @Html.ActionLink("Delete", "Delete", new { id = item.PurchaseID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>