﻿@model IEnumerable<LibraryMgtSystemDB.PurTemDetailsTable>

@{
    ViewBag.Title = "New Purchase";
    ViewBag.heading = "All Purchase >";

}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@using (Html.BeginForm("Additem", "PurchaseTables", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">New Purchase</h6>
            <h6>@ViewBag.message</h6>
            <h6>@ViewBag.warning</h6>
            <h6>@ViewBag.cancel</h6>
        </div>
        <div class="card-body">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @*@Html.LabelFor(model => model., htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
                    </div>*@
                <label class="control-label col-md-2">Select Book</label>
                <div class="col-md-6">
                    <select class="form-control" id="BID" name="BID" required></select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Quantity</label>
                <div class="col-md-6">
                    <input type="number" class="form-control" id="Qty" name="Qty" placeholder="Enter Quantity" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Unit Price</label>
                <div class="col-md-6">
                    <input type="number" class="form-control" id="price" name="price" placeholder="Enter Price" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Item" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}



<hr />
@if (Model != null)
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Purchase Cart</h6>
            <h6>@ViewBag.delete</h6>

        </div>
        <div class="card-body">
            <div class="table-hover">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Book
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Unit Price
                            </th>
                            <th>
                                Item Cost
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookTable.BookName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                </td>
                                <td>
                                    @(item.Qty * item.UnitPrice)
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.PurTemDetailsID }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="background-color: black; color:white">Total Bill</td>
                            <td style="background-color: black; color:white">
                                @*(string.Format("{0:0.000}", Math.Truncate(ViewBag.TotalAmount * 10) / 10))PKR;*@
                                @ViewBag.TotalAmount PKR
                            </td>

                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-md-4 col-md-offset-8" style="float:right">
                    @Html.ActionLink("Next", "SelectSupplier", null, new { @class = "btn btn-success" })
                    @Html.ActionLink("Cancel", "CancelPurchase", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        $.ajax({
            url: '@Url.Action("GetBooks", "PurchaseTables")',
            type: 'Get',
            data: '{}',

            success: function (response) {
                for (var i = 0; i < response.data.length; i++){
                    $('#BID').append("<option value =" + response.data[i].BookID + ">" + response.data[i].BookName + "</option>");
                }
            },
            error: function () { }
        });
    });
</script>