﻿@model IEnumerable<LibraryMgtSystemDB.PurchaseDetailsTable>

@{
    ViewBag.Title = "PurchaseDetail";
    ViewBag.heading = "All Purchase >";

}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Purchase Details</h6>
        <h6>@ViewBag.delete</h6>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PurchaseTable.PurchaseID)
                        </th>
                        <th>
                            Book Title
                        </th>

                        <th>
                            Quantity
                        </th>
                        <th>
                            Unit Price
                        </th>
                        @*<th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookTable.BookTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PurchaseTable.PurchaseID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Qty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            @*<td>
                                    @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseDetailsID }) |
                                    @Html.ActionLink("Details", "Details", new { id=item.PurchaseDetailsID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id=item.PurchaseDetailsID })
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>