﻿@model IEnumerable<LibraryMgtSystemDB.SupplierTable>

@{
    ViewBag.Title = "SelectSupplier";
    ViewBag.heading = "All Purchase >";

}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@using (Html.BeginForm("PurchaseConfirm", "PurchaseTables", FormMethod.Post))
{

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Finilize Purchase</h6>
            <input type="submit" value="Finilize Purchase" class="btn btn-success" style="float:right" />
        </div>
        <div class="card-body">
            <div class="table-hover">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                User Name
                            </th>
                            <th>
                                Supplier Name
                            </th>
                            <th>
                                Contact No
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>Select Supplier</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserTable.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SupplierName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <input type="checkbox" class="chk" name="name @item.SupplierID" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('.chk').change(function (event) {
            $('.chk').prop('checked', false);
            $(this).prop('checked', true);
        });
    });
</script>
