﻿@model LibraryMgtSystemDB.SupplierTable

@{
    ViewBag.Title = "Details";
    ViewBag.heading = "All Supplier >";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Details Supplier</h6>
    </div>
    <div class="card-body">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserTable.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserTable.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SupplierName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SupplierName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
        @Html.ActionLink("Edit", "Edit", new { id = Model.SupplierID }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

