﻿@model LibraryMgtSystemDB.UserTable

@{
    ViewBag.Title = "Details";
    ViewBag.heading = "All User >";
}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit User</h6>
        </div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    Employee Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmployeeTable.EmployeeName)
                </dd>

                <dt>
                    User Type
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserTypeTable.Usertype)
                </dd>

                <dt>
                    User Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

            </dl>
            @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>


