﻿@model LibraryMgtSystemDB.BookTypeTable

@{
    ViewBag.Title = "Details";
    ViewBag.heading = "All Book Type >";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Details Book Type</h6>
    </div>
    <div class="card-body">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserTable.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserTable.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BookTypeID }, new {@class="btn btn-success" }) 
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

