﻿@model IEnumerable<LibraryMgtSystemDB.BookTypeTable>

@{
    ViewBag.Title = "All Book";
    ViewBag.heading = "All Book Type >";
}

@Html.ActionLink("New Book Type", "Create", null, new { @class = "btn btn-primary" })

<hr />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Book Type</h6>
    </div>
    <div class="card-body">
        <div class="table-hover">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            User Name
                        </th>
                        <th>
                            Book Type Name
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.BookTypeID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.BookTypeID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.BookTypeID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>